* {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.homePage {
  background-color: #000;
  width: 100%;
}
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 32px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #000;
}
.nav-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-content li {
  padding: 0 20px;
}
.nav-content a:hover {
  color: #646cffaa;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.social a {
  padding: 0 6px;
}
.social a:hover {
  color: #646cffaa;
}
.hero img {
  width: 100%;
  height: 336px;
  padding: 0;
}

.contactsPage {
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  color: #333;
  width: 100%;
  padding: 110px;
  margin-bottom: 64px;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  text-align: center;
  margin-top: 32px;
}
.contact-img img {
  width: 443px;
  height: 431px;
  object-fit: cover;
  margin-bottom: 15px;
}
.contact-img img:hover {
  filter: drop-shadow(5px 5px 1.5em #646cffaa);
}
.contact-info h3 {
  padding-bottom: 16px;
}
.projectsPage {
  padding: 110px;
  color: #333;
}

.aboutPage {
  padding: 100px 200px 40px 80px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: #333;
  line-height: 26px;
  text-align: justify;
}
.aboutPage::before {
  content: '';
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.86;
}

.aboutPage h3 {
  padding: 6px 0;
  position: relative;
}
.aboutPage p {
  padding: 6px 0;
  position: relative;
}
.aboutPage ul {
  margin-left: 20px;
  position: relative;
}
.pressPage {
  padding-top: 110px;
}
.pressPage img {
  width: 400px;
  margin: 32px;
}
.pressPage img:hover {
  opacity: 0.8;
}
.hs-banner {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-top {
  width: 788px;
  height: 430px;
  position: absolute;
}
.projects-img {
  width: 270px;
}

.footerPage {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.footerPage h2 {
  font-size: 42px;
}
