/* General */
* {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
@font-face {
  font-family: 'halloweenFont';
  src: url(/public/font-types/EspenHalloweenRegular.ttf);
}
@font-face {
  font-family: 'reboopFont';
  src: url(/public/font-types/DigitalDream.ttf);
}
@font-face {
  font-family: 'hookingFont';
  src: url(/public/font-types/PublicPixel.ttf);
}

/* Home Page */
.homePage {
  background-color: #000;
}
.hero {
  max-width: 100%;
  height: 100vh;
  padding-top: 64px;
}

.latest-project {
  background: url(/images/library_hero_background.png) no-repeat center
    center/cover;
}
.projects {
  background-color: #000;
  color: #fff;
}
.projects-title {
  padding: 15px 0;
}

/* Navbar */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  top: 0;
  z-index: 50;
  padding: 0 30px;
  background-color: #000;
}
.nav-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-content a {
  padding: 10px 20px;
}
.nav-content a:hover {
  color: #646cffaa;
  border-bottom: #646cffaa 2px solid;
}
.logo img {
  width: 62px;
}
.logo:hover {
  filter: drop-shadow(5px 5px 1.5em #646cffaa);
}

/* Contacts Page */
.contactsPage {
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  color: rgb(36, 35, 35);
  padding: 90px 170px 0 170px;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: center;
  padding-bottom: 32px;
}
.contact-img img {
  width: 443px;
  height: 431px;
  object-fit: cover;
  margin-bottom: 15px;
}
.contact-img img:hover {
  filter: drop-shadow(5px 5px 1.5em #646cffaa);
}
.contact-info h3 {
  padding-bottom: 16px;
}

/* Projects Page */
.projectsPage {
  padding: 76px 0 20px 0;
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  color: rgb(36, 35, 35);
}
.projects-img {
  width: 270px;
}
.projects-list {
  padding: 20px 40px;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.projects-list img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-list img:hover {
  opacity: 0.87;
  filter: drop-shadow(5px 5px 1.5em #646cffaa);
}

/* About Page */
.aboutPage {
  position: relative;
  padding: 90px 250px 30px 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: rgb(36, 35, 35);
  line-height: 26px;
  text-align: justify;
}
.aboutPage::before {
  content: '';
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.86;
}
.aboutPage h3 {
  position: relative;
}
.aboutPage p {
  padding: 6px 0;
  position: relative;
}

/* Hooking Season Page */
.hs-banner {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Reboop Page */
.reboopPage {
  background: url(/public/images/reboop-background.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  position: relative;
}
.reboopPage::before {
  content: '';
  background: url(/public/images/reboop-background.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  position: relative;
}
.reboopPage h1 {
  font-family: reboopFont;
}

/* Jack O'Manor Page */
.jackProject-page {
  background: url(/public/images/jack-background.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  color: #fff;
  font-family: halloweenFont;
}
.jack-intro {
  padding: 200px 0 100px 0;
  letter-spacing: 0.01em;
}
.jack-intro h1 {
  letter-spacing: 0.01em;
  font-size: 117px;
  font-weight: lighter;
}
.mansion p,
.monsters p,
.game-info p {
  font-size: 36px;
}
.monsters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.jack-carousel,
.monsters,
.play {
  background-color: rgb(36, 35, 35);
}
.play,
.mansion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  height: 200px;
}
.play > div {
  width: 550px;
}
.play h1 {
  font-size: 82px;
}
.play img,
.mansion img {
  height: 523px;
  object-fit: cover;
}

/* Press Page */
.pressPage {
  padding-top: 80px;
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  color: rgb(36, 35, 35);
}
.pressPage img {
  width: 384px;
  padding: 20px 0;
}
.pressPage img:hover {
  opacity: 0.8;
}

/* Hooking Season Press Kits Page */
.pressKit-page {
  background: url(/public/images/background-unsplash.jpg) no-repeat center
    center/cover;
  padding-top: 60px;
  padding-bottom: 40px;
  color: rgb(36, 35, 35);
}
.pressKit-page h2 {
  padding: 20px 0;
}
.hs-banner {
  background: url(/public/images/library_hero_background.png) no-repeat center
    center/cover;
  height: 517px;
  width: 100%;
  position: relative;
}
.hs-banner img {
  max-width: 100%;
  height: 430px;
  position: absolute;
}
.press-info {
  padding: 20px 250px;
  text-align: justify;
  line-height: 26px;
}
.press-info ul {
  padding-left: 20px;
}
.press-content {
  background-color: rgb(36, 35, 35);
  color: #fff;
  margin: 0 200px;
  padding: 20px;
}
.extras-img,
.screenshots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}
.extras-img img,
.screenshots img {
  height: 170px;
  max-width: 100%;
}

/* Footer */
.footerPage {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}
.footerPage h2 {
  font-size: 42px;
}
.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.social a {
  padding: 0 6px;
  display: flex;
}
.social a:hover {
  color: #646cffaa;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email p {
  padding: 0 5px;
}
.startUp {
  width: 50px;
  padding-top: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .nav-content a {
    padding: 10px;
    font-size: smaller;
  }
  .nav-content a:hover {
    border-bottom: none;
  }
  .contact-img img {
    width: 70%;
  }
}
